.weather {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  font-size: 1.9em;
  margin: auto;
}

input {
  width: 80%;
  padding: 1.5%;
  margin-top: 4%;
  border-radius: 3px;
  border: 1px solid rgb(55, 60, 65);
  font-size: 1em;
}
